a.mediaSelect-btn {
	position: relative;
	font-size: 20pt;
	padding-left: 5px;
	right: 65px;	
	border: 1px solid transparent;
}
a.yt {
	background-color: red;
	color: white;
}
a.gif {
	background-color: black;
	color: blue;
}
a.mediaSelect-btn:link {
	text-decoration: none;
}

